<div class="container">
    <div class="login-container hidden" id="js-login-container">
      <button class="btn btn--login" id="js-btn-login">
        <%= link_to 'Login with Spotify', '/auth/spotify' %>
      </button>
    </div>
    <div class="main-container hidden" id="js-main-container"></div>
</div>
<!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script> -->
<script src="https://spotify-player.herokuapp.com/spotify-player.js"></script>
